
.navbar-nav .nav-link {
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-bottom 0.3s ease-in-out;
    border-bottom: 2px solid transparent; /* Set to transparent by default */
    padding-bottom: 0.5rem; /* Adjust padding to accommodate the border without shifting the text */
    min-height: 60px;
    margin-right: 3px;
  }
  
  .navbar-nav .nav-link:hover, .navbar-nav .nav-link:focus {
    color: #495057; /* A darker shade of gray for better contrast */
    background-color: #f8f9fa; /* A very light gray for a subtle background highlight */
    border-bottom: 2px solid black; /* Black underline on hover */
  }
  
  /* Keep the active link distinct but still compatible */
  .navbar-nav .nav-link.active {
    border-bottom: 2px solid black; /* Black underline for the active link */
  }
  
  .navbar-nav .nav-link.active:hover, .navbar-nav .nav-link.active:focus {
    color: #212529; /* Bootstrap's default dark shade */
    background-color: #e9ecef; /* A slightly darker shade of light gray for active link */
    border-bottom: 2px solid black; /* Maintain black underline on hover for active link */
  }
  /* navbar.css */
.dropdown{
  min-width:50px;
  min-height: 50px;
  padding-right: 2px;
}
/* Change the background color of the dropdown menu */
.dropdown-menu {
  background-color: #e9ecef; /* Replace with your preferred background color */
  padding: 0px;
}

/* Change the color of dropdown items */
.dropdown-item {
  color: #212529; /* Replace with your preferred text color */
  background-color: #f8f9fa;
}

/* Change the background color of dropdown items on hover */
.dropdown-item:hover, .dropdown-item:focus {
  background-color: #e9ecef; /* Replace with your preferred background color on hover */
  color: #495057; /* Replace with your preferred text color on hover */
}

/* Change the dropdown toggle color */
.dropdown-toggle {
  color: #212529; /* Replace with your preferred color for the toggle */
  background-color: #f8f9fa; /* Replace with your preferred background color for the toggle */
  border:1px solid #212529;
}

/* Change the dropdown toggle color on hover */
.dropdown-toggle:hover, .dropdown-toggle:active ,.dropdown-toggle:focus{
  color: #495057; /* Replace with your preferred hover color for the toggle */
  background-color: #e9ecef; /* Replace with your preferred background color for the toggle */
  border:1px solid #212529;
  box-shadow: none;
}
