.toggle-container {
  display: inline-flex;
  background: #e0e0e0; /* Light grey background */
  gap: 3px;
  border-radius: 10px; /* Rounded corners for the pill shape */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Shadow for 3D effect */
  overflow: hidden; /* Ensures the child buttons don't overflow the rounded corners */
}

.toggle-button {
  border: none;
  background-color: #e0e0e0; /* Same as toggle-container for the inactive state */
  color: #666; /* Dark grey text color */
  padding: 10px 20px;
  margin: 2px; /* Slight margin for the 3D effect */
  border-radius: 10px; /* Rounded corners for the buttons */
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
  flex: 1; /* Ensures the buttons have equal width */
}

.toggle-button.active, .toggle-button:hover {
  color: white;
  background-color: #6200ea; /* Purple background for the active state */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Shadow for 3D effect */
  margin: 0; /* Remove margin for the active state to align correctly with the container */
  z-index: 1; /* Ensure the active button stays above the others */
}
.form-container {
  background-color: #f8f9fa; /* Light grey background */
  padding: 10px; /* Add some padding inside the container */
  border-radius: 15px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  border: 1px solid #e0e0e0; /* Light border for definition */
  margin: auto; /* Center the form container in the parent */
  margin-top: 30px; /* Add some margin to the top */
  overflow: hidden;
  position: relative;
  width: 100%;
  min-height: 400px;
  height: 600px;
}

.form-slide {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  transition: transform 0.5s ease-in-out;
  display: flex; /* Use flexbox for centering */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
}

.form-slide-left {
  transform: translateX(-100%);
}

.form-slide-right {
  transform: translateX(100%);
}

.form-slide-active {
  transform: translateX(0);
}
.btn-custom {
  background-color: #36454F; /* Green */
  border-color: #36454F; /* Darker green */
}

.btn-custom:hover {
  background-color: #449d44; /* Darker green on hover */
  border-color: #398439;
}